body {
    background-color: #118745;
    /* color: #fff; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* index.html */
.org-navbar {
    display: block !important;
}
.org-navbar-brand {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    width: 100% !important;
    padding: 0 1rem;    
}
.org-navbar-brand > div {
    font-weight: bold !important;
    margin-right: auto !important;
    display: block !important;
}
.org-navbar-brand > a {
    display: block !important;
}
.org-navbar-item > span > img {
    width: 1rem;
    height: 1rem;
}
.navbar-item .icon img {
    filter: brightness(0) invert(1);
    transition: filter 0.2s ease;
}

.table {
    background-color: #1a1a1a;
    color: #fff;
}
.table thead th {
    color: #d4af37;
    border-bottom: 2px solid #d4ad37;
}
.table td, .table th {
    border-color: #333;
    vertical-align: middle;
}
.rank-border-red {
    border-left: 8px solid #ff3860;
}
.rank-border-green {
    border-left: 8px solid #118745;
}

/* admin.html */
#org_overlay {
    /* 画面に固定 */
    position: fixed !important;

    /* 画面全体に引き伸ばす */
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;

    /* 外部要因の影響を除外する */
    width: 100% !important;
    height: 100% !important;

    background-color: #ffffff !important;
    z-index: 999999 !important;

    /* 中央揃え */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
.org_hidden {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
}